/*background color = #fafafa*/
/*button blue = #3897f0*/
/*border color = #e6e6e6*/
/*footer link color = #003569*/
/*text grey color = #999*/



body, input {
  font-family: 'Karla', sans-serif;
  background-color: #fafafa;
  font-size: 14px;
  line-height: 1.2;
}

header {
  margin-top: 10%
}

main {
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}

.right img{
  padding: 10px 10px
}

.box {
  display: flex;
  flex-direction: inherit;
  border-radius: 10px;
  border-color: #e6e6e6;
  
}

.logo {
  padding: 0px 200px;

}

form {
  height: 85px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

input[type="submit"] {
  margin-top: 10px;
  background-color: #3897f0;
  color: white;
  border-color: #3897f0;
  border-radius: 0px 0px;
}

input[type="text"] {
  margin-top: 10px;
  background-color: #fafafa;
  border-color: #e6e6e6;
  border-radius: 1px 1px;
}

input[type="password"] {
  margin-top: 10px;
  background-color: #fafafa;
  border-color: #e6e6e6;
  border-radius: 1px 1px;
}

.facebook {
  display: flex;
  flex-direction: column;
  color: 003569;
  align-items: center
}



.line {
  flex: 5;
  height: 1px;
  background-color: #efefef;
}

section {
  margin: 0px 20px

}

section.right.box {
  height: 375px;
  width: 590px;
  display: flex;
  justify-content: space-between;
  background-color: green;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: grey;
}

footer {
  margin: 5%;
  display: flex;
  flex-direction: column;
  color: grey;
  flex-basis: 100%;
align-items: center;
}

footer ul {
  max-width: 935px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 875px) {

  section:first-of-type {
    display: none;
  }

  footer {
    text-align: center;
    padding: 10px 10px;
    flex-wrap: wrap;
    justify-content: center;
  }