/*
google font: Nunito

brand red: #ff5358
dark red: #e00007
background grey: #efefef
title grey: #edefed
footer grey: #2B2D2E
*/
nav {
    display: flex;
    justify-content: space-between;
}

.logo {
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo img {
    max-height: 50%;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fix {
    filter: brightness(60%)
}

.hero {
    background-image:url("../images/melbourne.jpg");
    background-color: rgb(80, 80, 80);
  background-blend-mode: overlay;
    
}

.main-landing {
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;

}



.main-landing p {
    text-align: center;
    max-width: 35%;
    margin: 0px 0px 20px;
   
}

.main-landing button{
    color: white;
    background-color: #ff5358;
    border-color: #e00007;
    padding: 10px 25px;
    border-radius: 5px;
   
}

.locals {
    display: flex;
    padding: 10px 20px;
    background-color: #efefef;
    justify-content: space-around;
}

.boxes {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-content: space-between;

    margin: 1%;
}



.boxes > h3 {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    background-color: #edefed
}

.boxes img{
    padding: 0px 5px 0px 0px;
}

.locals p {
    display: flex;
    padding: 10px 20px;
}

.neighborhoods {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0px 0px 0px;
}

.examples {
    display: flex;
    padding: 10px 20px;
    margin-bottom: 20px;
    text-align: center;
    justify-content: space-evenly;
    color: white;
}

.examples h3 {
    margin: 0px 0px;
}



.place1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url("../images/fitzroy.jpg");
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 290px;
    margin: 0px 10px;
}

.place2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url("../images/st-kilda.jpg");
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 290px;
    margin: 0px 10px;
}

.place3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-image:url("../images/central-business-district.jpg");
    background-color: rgb(80, 80, 80);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 290px;
    margin: 0px 10px;
}

.minip {
   padding: 0%
}

.lowbox{
    display: flex;
    background-color: #efefef;
    color: black;
    padding: 5px 15px;
    font-size: 8px;
    height: 40px;
    text-align: center;
}

.neighborhoods button{
    color: white;
    background-color: #ff5358;
    border-color: #e00007;
    padding: 10px 25px;
    border-radius: 5px;
}

footer {
    background-color: #2B2D2E;
    color: white;
    text-align: center;
}

footer > p{
    display: flex;
    height: 100px;
    justify-content: center;
    align-content: space-betw;
}